.table-responsive::-webkit-scrollbar {
    width: 12px;
}
  
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 10px;
    border: 2px solid #212529;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #212529;
    border-radius: 10px;
}

.table-responsive {
    scrollbar-color: #343a40 #212529;
    scrollbar-width: thin;
}